@tailwind base;
@tailwind components;
@tailwind utilities;

@property --angle {
  syntax: '<angle>';
  initial-value: 90deg;
  inherits: true;
}

@property --gradX {
  syntax: '<percentage>';
  initial-value: 50%;
  inherits: true;
}

@property --gradY {
  syntax: '<percentage>';
  initial-value: 0%;
  inherits: true;
}

:root {
  --d: 2500ms;
  --angle: 90deg;
  --gradX: 100%;
  --gradY: 50%;
  --c1: #0062a6;
  --c2: #042d4205;
}

* {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}

.carouselItem {
  padding-right: 25px;
}

.ocean {
  background: #0062a6;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg)
    repeat-x;
  position: absolute;
  top: -108px;
  width: 6400px;
  height: 108px;
  animation: wave 22s cubic-bezier(0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

/* .wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
} */

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%,
  100% {
    transform: translate3d(0, -25px, 0);
  }
  50% {
    transform: translate3d(0, 5px, 0);
  }
}

#space,
.stars {
  overflow: hidden;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.stars {
  background-image: radial-gradient(
    2px 2px at 40px 70px,
    #fff,
    rgba(0, 0, 0, 0)
  );
  /* Only one star pattern */
  background-repeat: repeat;
  background-size: 200px 200px;
  animation: zoom 22s infinite;
  /* Adjusted for slower animation */
  opacity: 0;
}

.stars:nth-child(1) {
  background-position: 50% 50%;
  animation-delay: 0s;
}

.stars:nth-child(2) {
  background-position: 20% 60%;
  animation-delay: 1s;
}

.stars:nth-child(3) {
  background-position: -20% -30%;
  animation-delay: 2s;
}

.stars:nth-child(4) {
  background-position: 40% -80%;
  animation-delay: 3s;
}

.stars:nth-child(5) {
  background-position: -20% 30%;
  animation-delay: 4s;
}

@keyframes zoom {
  0% {
    opacity: 0;
    transform: scale(0.5);
    animation-timing-function: ease-in;
  }

  85% {
    opacity: 0.35;
    transform: scale(1.8);
    animation-timing-function: linear;
  }

  100% {
    opacity: 0;
    transform: scale(2.2);
  }
}

.animated-border {
  border-image: conic-gradient(
      from var(--angle),
      var(--c2),
      var(--c1) 0.1turn,
      var(--c1) 0.15turn,
      var(--c2) 0.25turn
    )
    30;
  /* border-image: radial-gradient(
      ellipse at var(--gradX) var(--gradY),
      var(--c1),
      var(--c1) 10%,
      var(--c2) 40%
    )
    30; */
  animation: borderRotate var(--d) linear infinite forwards;
  /* animation: borderRadial var(--d) linear infinite forwards; */
}

@keyframes borderRotate {
  100% {
    --angle: 420deg;
  }
}
@keyframes borderRadial {
  20% {
    --gradX: 100%;
    --gradY: 50%;
  }
  40% {
    --gradX: 100%;
    --gradY: 100%;
  }
  60% {
    --gradX: 50%;
    --gradY: 100%;
  }
  80% {
    --gradX: 0%;
    --gradY: 50%;
  }
  100% {
    --gradX: 50%;
    --gradY: 0%;
  }
}

/* Typography */
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-Light.otf);
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-LightItalic.otf);
  font-style: italic;
  font-weight: 300;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-Regular.otf);
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-Italic.otf);
  font-style: italic;
  font-weight: 400;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-Medium.otf);
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-MediumItalic.otf);
  font-style: italic;
  font-weight: 500;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-SemiBold.otf);
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-SemiBoldItalic.otf);
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-Bold.otf);
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-BoldItalic.otf);
  font-style: italic;
  font-weight: 700;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-ExtraBold.otf);
  font-style: normal;
  font-weight: 800;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-ExtraBoldItalic.otf);
  font-style: italic;
  font-weight: 800;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-Black.otf);
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: 'Mona Sans';
  src: url(/fonts/MonaSansExpanded-BlackItalic.otf);
  font-style: italic;
  font-weight: 900;
}

body {
  font-family: 'Mona Sans', sans-serif;
}

.scrollbar-hidden::-webkit-scrollbar {
  display: none;
  width: 0;
}

/* Accordion styles */
:root {
  --primary: #ededed;
  --secondary: #f5f6f6;
  --background: #eeeeee;
  --highlight: #ffe092;
  /* Theme color */
  --theme: var(--primary);
}

/* Core styles/functionality */
.tab input {
  position: absolute;
  opacity: 0;
  z-index: -1;
}
.tab__content {
  max-height: 0;
  overflow: hidden;
  transition: all 0.35s;
  transition: all 0.35s ease-out;
}
.tab input:checked ~ .tab__content {
  max-height: 10rem;
}

/* Visual styles */
.accordion {
  /* border: 1px solid gray; */
  border-radius: 1rem;
  overflow: hidden;
}

.tab {
  background-color: var(--theme);
}
.tab:nth-child(even) {
  background-color: var(--secondary);
}

.tab__label,
.tab__close {
  display: flex;
  color: black;
  cursor: pointer;
  font-weight: 500;
  border-bottom: 1px solid rgba(255, 255, 255, 0.827);
}
.tab__label {
  justify-content: space-between;
  padding: 1rem;
}
.tab__content {
  background-color: white;
  overflow: auto;
  max-height: 0.05rem;
}
.tab__label::after {
  content: '\276F';
  width: 1em;
  height: 1em;
  text-align: center;
  transform: rotate(90deg);
  transition: all 0.35s;
}
.tab input:checked + .tab__label::after {
  transform: rotate(270deg);
}
.tab__content p {
  margin: 0;
  padding: 1rem;
}

/* Arrow animation */
.tab input:not(:checked) + .tab__label:hover::after {
  animation: bounce 0.5s infinite;
}

@keyframes bounce {
  25% {
    transform: rotate(90deg) translate(0.25rem);
  }
  75% {
    transform: rotate(90deg) translate(-0.25rem);
  }
}

.input {
  @apply flex h-10 w-full cursor-pointer rounded-md border border-slate-200 bg-white px-3 py-2 text-sm ring-offset-white file:cursor-pointer file:border-0 file:bg-transparent file:text-sm file:font-medium placeholder:text-slate-500 focus-visible:outline-none focus-visible:ring-1 focus-visible:ring-slate-300 focus-visible:ring-offset-2 disabled:cursor-not-allowed disabled:opacity-50 dark:border-slate-800 dark:bg-slate-950 dark:ring-offset-slate-950 dark:placeholder:text-slate-400 dark:focus-visible:ring-slate-300;
}

.swiper:hover .swiper-button-prev,
.swiper:hover .swiper-button-next {
  @apply lg:block;
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next {
  @apply hidden;
}

.typewriter {
  /* overflow: hidden; */
  text-overflow: ellipsis;
  /* Ensures the content is not revealed until the animation */
  border-right: 0.15em solid white;
  /* The typwriter cursor */
  white-space: nowrap;
  /* Keeps the content on a single line */
  margin: 0 auto;
  /* Gives that scrolling effect as the typing happens */
  /* letter-spacing: .15em; */
  /* Adjust as needed */
  animation:
    typing 3.5s steps(40, end),
    blink-caret 0.75s step-end infinite;
}

/* The typing effect */
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }

  50% {
    border-color: white;
  }
}
@media only screen and (max-width: 600px) {
  .carouselItem {
    padding-right: 10px;
  }
}
